body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  width: 350px;
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  text-align: center;
}

h1 {
  margin-bottom: 15px;
  color: #facc15;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  background: #1f2937;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete {
  background: red;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}